<h1>SUGGESTIONS FOR YOU</h1>
<div class="">
  <h3>You searched by:</h3>
  <p ng-repeat="concept in sugCtrl.searchedConcepts">{{concept.name}}</p>
</div>

<table style="width:100%">
  <tr>
    <th> </th>
    <th>Title</th>
    <th>Release Date</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Developer</th>
    <th>Publisher</th>
    <th>Platforms</th>
  </tr>
  <tr ng-repeat="game in sugCtrl.searchResults">
    <td><img src="{{game.images[0].icon_url}}" alt="{{game.name}}"></td>
    <td>{{game.name}}</td>
    <td>{{game.original_release_date}}</td>
    <td>{{game.deck}}</td>
    <td>{{game.original_game_rating[0].name}}</td>
    <td>{{game.developers[0].name}}</td>
    <td>{{game.publishers[0].name}}</td>
    <td><i ng-repeat="platform in game.platforms" ng-class="{'ion-social-android': platform.abbreviation == 'ANDR',
       'ionicons ion-iphone': platform.abbreviation == 'IPHN',
       'ionicons ion-playstation': platform.abbreviation == 'PS1',
       'ionicons ion-playstation': platform.abbreviation == 'PS2',
       'ionicons ion-playstation': platform.abbreviation == 'PS3',
       'ionicons ion-playstation': platform.abbreviation == 'PS4',
       'ionicons ion-xbox': platform.abbreviation == 'X360',
       'ionicons ion-xbox': platform.abbreviation == 'XONE',
       'ion-social-windows': platform.abbreviation == 'PC',
       'ion-social-apple': platform.abbreviation == 'MAC',
       'ion-social-tux': platform.abbreviation == 'LIN',
       'ion-ios-game-controller-a-outline': platform.abbreviation == 'SNES'}"  class="icon"><br></i></td>

    <td><button ng-click="sugCtrl.saveToWatchlist(game)"><span class="glyphicon glyphicon-star"></span></button></td>
  </tr>
</table>
