<div style="padding-left:10px">
  <h5>Showing {{sugCtrl.searchResults.length}} results for:</h5>
  <ul>
  <li ng-repeat="concept in sugCtrl.searchedConcepts">{{concept.name}}</li>
</ul>
<button style="background:green; color: white" ng-click="sugCtrl.saveSearch()">Save this search</button>
</div>

<!-- <select ng-model="search" ng-options="search.conceptsSearched.id as search.conceptsSearched.name in sugCtrl.searchHistory">
  <option value="">{{search.conceptsSearched.name}}</option>

</select> -->

<table style="width:100%" ng-show="sugCtrl.searchResults.length >= 1">
  <tr style="background: black; color: white;">
    <th> </th>
    <th>Title</th>
    <th>Release Date</th>
    <th>Description</th>
    <th>Rating</th>
    <th>Developer</th>
    <th>Publisher</th>
    <th>Platforms</th>
  </tr>
  <tr ng-repeat="game in sugCtrl.searchResults">
    <td><img src="{{game.images[0].icon_url}}" alt="{{game.name}}"></td>
    <td><strong>{{game.name}}</strong></td>
    <td>{{game.original_release_date}}</td>
    <td>{{game.deck}}</td>
    <td>{{game.original_game_rating[0].name}}</td>
    <td>{{game.developers[0].name}}</td>
    <td>{{game.publishers[0].name}}</td>
    <td><i ng-repeat="platform in game.platforms | filter: tagCtrl.ioniconFilter(platform.abbrevation)" ng-class="{'ion-social-android': platform.abbreviation == 'ANDR',
       'ionicons ion-iphone': platform.abbreviation == 'IPHN',
       'ionicons ion-playstation': platform.abbreviation == 'PS1',
       'ionicons ion-playstation': platform.abbreviation == 'PS2',
       'ionicons ion-playstation': platform.abbreviation == 'PS3',
       'ionicons ion-playstation': platform.abbreviation == 'PS4',
       'ionicons ion-playstation': platform.abbreviation == 'PS3N',
       'ionicons ion-xbox': platform.abbreviation == 'X360',
       'ionicons ion-xbox': platform.abbreviation == 'XONE',
       'ion-social-windows': platform.abbreviation == 'PC',
       'ion-social-apple': platform.abbreviation == 'MAC',
       'ion-social-tux': platform.abbreviation == 'LIN',
       'ion-ios-game-controller-a-outline': platform.abbreviation == 'SNES'}"  class="icon"><br></i></td>

    <td><button ng-click="sugCtrl.saveToWatchlist(game)"><span class="glyphicon glyphicon-star"></span></button></td>
  </tr>
</table>

<!-- <div id="container" ng-repeat="game in sugCtrl.searchResults">
  <div class="content col-med-4" style="background: url({{game.images[0].medium_url}})">
    <div class="top">
      <strong style="color: white;">{{game.name}}</strong>
    </div>

    <div class="expand">
      <p>{{game.deck}}</p>
    </div>
  </div>
</div> -->
