<h2>Tag Survey</h2>
<div id="introBlurb" class="twelve columns">
  <p>Welcome, {{tagCtrl.currentUserName}}!<br>
    Help us find the right games for you by selecting game mechanics you enjoy!<br>
    It won't take long, and you can edit this information at any time.
  </p>
  <button ng-click="tagCtrl.getConceptsFromService()">refresh concept list</button>
  <button ng-click="tagCtrl.getConceptsFromAPI()">get concepts from API</button>
  <button ng-click="tagCtrl.getMoreConceptsFromAPI()">get MORE concepts from API</button>
</div><br>
<div class="selectedTags three columns">
  <p>Currently Selected Tags:</p><br>
  <ul>
    <li ng-show="selectedTag" ng-repeat="selectedTag in tagCtrl.currentlySelectedTags">{{selectedTag.name}}</li>
  </ul>
</div>
<!-- Scroll box to hold concept tags -->
<div id="scrollArea" class="nine columns" style="float: right">
  <button id="tagButton" type="button" name="button"  ng-model="tag" ng-repeat="tag in tagCtrl.tagList" ng-click="tagCtrl.selectThisTag(tag)">{{tag.name}}</button>
</div>
<div class="six columns">

</div>
