#scrollArea {
  height: 380px;
  overflow: auto;
  border: 1px solid grey;
  padding: 10px, 0px, 0px, 0px;
  margin: 0px;
}

#bottom {
  display: block;
  margin-top: 2000px;
}

/*#introBlurb {
  display: inline-block;
}*/

#selectedTags li{
  list-style: none;
}


tr:nth-child(even) {
    background-color: #eaefef;
}

/*#container {
  width: 100%;
  display: flex;
}

.expand {
  display:none;
  background: #999;
  position: absolute;
 }

.content {
  padding-left: 20px;
  width: 25%;
  border: 1px solid black;
  height: 250px;
  background-size:cover;
  background-repeat: no-repeat;
}*/

/*#conceptButton span{
  display: none;
}

#conceptButton span:hover  {
  display: block;
}*/
